.pac-container {z-index: 10000000 !important;}
.scasl-location-mobile-wrap {
    clear: left;
    float: left;
    width: 100%;
    display:none;
}
.scasl-location-mobile {
  height: 50px !important;cursor: pointer !important;
}
#scasl-app-container {margin-left: 10px;margin-right: 10px;z-index: 100 !important; position: relative;}
#bh-sl-map div {  box-sizing: initial !important;}
#scasl-window-container div, #scasl-window-container div span{word-break:     normal !important;}
#scasl-description p {word-break: break-all !important;}
.bh-sl-container { padding: 0 !important; }
#bh-sl-map-container { margin-bottom: 27px !important; }
#scasl-tab-radius { border: 1px solid #ccc; padding: 20px; }
#scasl-tab-radius h3 { text-transform: uppercase; margin-top: 0; padding-bottom: 10px; font-weight: normal; border-bottom: 1px solid #ccc; }
.scasl-distance, .scasl-distance label { width: 100% !important; }
.scasl-distance { display: inline-block; margin: 0; }
.scasl-distance .form-input { margin-bottom: 10px; }
.scasl-container .form-input input, .scasl-container .form-input select { height: 35px; background-color: #fff; }
.scasl-tag { margin: 0 !important; }
.scasl-tag > label { font-weight: bold; }
.scasl-tag-list { width: 100%; }
.scasl-tag-list, .scasl-tag-list li { margin: 0 20px 0 0 !important; }
.scasl-tag-list li { padding: 0; clear: none !important; width: auto !important; }
.scasl-tag-list li label { font-weight: normal; }
.scasl-tag-list li label input { margin-top: 2px; }
.scasl-search-btn { padding-top: 15px; width: 100%; float: left; margin: 10px 0 0; border-top: 1px solid #ccc; }
.bh-sl-loc-list, .bh-sl-map { border: 1px solid #ccc; }
.bh-sl-loc-list ul li { margin: 0 !important; }
.scasl-location-list { width: 30% !important; }
.scasl-map { float: right !important; width: 69% !important; }
.scasl-search-btn button, #scapl-geocode-btn { background: #30ABD9; height: 34px; width: 20%; }
#scapl-geocode-btn { float: right; }
.scasl-list-image, .scasl-info-image { float: right; }
.scasl-list-image {/* width: 22%;*/ margin: 10px 10px 0 0; }
.scasl-info-image {/* width: 28%; */margin: 5px 0 0 5px; }
.scasl-list-image img, .scasl-info-image img { /*width: 100%;*/ width: 50px;height: auto; }
.scasl-info-location, .scasl-location-list { float: left; }
.scasl-tags { background: url("../../../../../../../../../../secomapp.com/storelocator/assets/cdn/img/tag.png") no-repeat scroll 0 1px transparent; padding: 2px 10px 0 16px; float: left;background-position-y:4px;}
.bh-sl-container .form-input, .bh-sl-container .form-input input, .bh-sl-container .form-input select { width: 100% !important; opacity: 1 !important;}
#bh-sl-user-location input {max-width: none !important;}

.bh-sl-container .form-input input, .bh-sl-container .form-input select { margin: 0 !important; }
.bh-sl-container button { margin-top: 0 !important; }
#bh-sl-address { float: left; clear: both; width: 78% !important; }
.scasl-field { display:none; clear: both; }
#scasl-store_image { clear: none !important; }

/* Screens */
@media screen and (max-width: 600px) {
	.scasl-location-list, .scasl-map { width: 100% !important; }
	.scasl-location-list {height: 300px !important;}
  	.scasl-map { margin-top: 10px; }
}
@media screen and (max-width: 768px) {
  	.scasl-search-btn button, #scapl-geocode-btn { width: auto !important; }
  	#scapl-geocode-btn { float: left; margin-top: 10px !important; }
  	#bh-sl-address { width: 100% !important; }
}
#scasl-title {font-weight: bold !important;}
